<!DOCTYPE html>
<html>
<head>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Ricky's Delivery Service</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="jumbotron.css" rel="stylesheet">
</head>

<body>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= image_tag("tpb.png", :alt => "rss feed") %><br /><br /><br /><br /><br /><br /><br /><br />

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

<br /><br /><br /><br /><br />
  <div class="nav">
    <ul>
      <li>
        <%= link_to 'Home', '/' %>
      </li>

      <li>
      <%= link_to 'About', 'about' %>
    </li>
      <li class="nav-item">
        <%= link_to "AdvanceSearch", new_search_path %>
      </li>

    </ul>


  </div>
</nav>
