<%= form_tag 'catsearch_path' do %>
<p>Search by category: <%= select_tag :category, options_from_collection_for_select(@categories, 'id', 'description') %>
  <%= submit_tag "Search" %>
  <% end %>
<hr>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

<%= render partial: 'product',
           collection: @products,
           locals: {show_details_link: true} %>

  </div>
</div>


<br />
You have visited this page <%= @count %> times.